* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: 'Verdana', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 12px;
    padding: 45px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin-left: 30px;
    margin-right: 30px;
}

.container.heartbeat {
    max-width: 750px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.cat-image img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.status-message {
    margin-top: 40px;
}

.status-message h1 {
    margin-bottom: 20px;
    color: green;
    font-weight: 100;
}

.container.heartbeat h1 {
    color: #c10e21;
}

#heartbeat-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.static-heart {
    width: 75px;
    height: auto;
    z-index: 2;
}

.heart-pulse {
    width: 75px;
    height: auto;
    position: absolute;
    z-index: 1;
    animation: pulse 0.75s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.container.heartbeat table {
    margin-top: 40px;
    list-style: none;
    width: 100%;
    height: 300px;
}

.container.heartbeat th {
    font-weight: 100;
}

.container.heartbeat table tr:nth-child(even) {
  background-color: #c10e203c;
}

footer {
    background-color: #f3f4f6;
    height: 5vh;
    align-content: center;
}

footer p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-align: center;
}
